body {
    background-color: black;
    align-items: center;
}

.header-main {
    font-family: Verdana, sans-serif;
    font-weight: normal;
    font-size: 50px;
    color: white;
    text-align: center;
}